@font-face {
    font-family: 'Baskerville-Bold';
    src: url(..//..//fonts/Baskerville/Baskerville-Bold-02.ttf);
    font-weight: 700;
  }

  @font-face {
    font-family: 'Baskerville-SemiBold';
    src: url(..//..//fonts/Baskerville/Baskerville-SemiBold-05.ttf);
    font-weight: 600;
  }
  @font-face {
    font-family: 'Georgia-regular';
    src: url(../../fonts/Georgia.ttf);
    font-weight: 400;
  }
  @font-face {
    font-family: 'Baskerville';
    src: url(../../fonts/Baskerville/Baskerville-01.ttf);
    font-weight: 600;
  }
  @font-face {
    font-family: 'Baskerville-Italic';
    src: url(..//..//fonts/Baskerville/Baskerville-BoldItalic-04.ttf);
    font-weight: 700;
  }